.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 100%;
}
.shopcategory-indexsort {
display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}
    .shopcategory-sort{
        padding: 10px 20px;
        border-radius: 4px;
        border: 1px solid #888;
    }
    .shopcategory-indexsort p span{
        font-weight: 600;
    }
    .shopcategory-products{
        margin: 20px auto;
        max-width: 1200px;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        justify-content: center;
        align-items: start;
    }
    .shopcategory-loadmore{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 150px auto;
        width: 233px;
        height: 69px;
        border-radius: 75px;
        background: #ededed;
        color: #787878;
        font-size: 20px;
        font-weight: 500;
    }